#cloud-config
# Don't automatically mount ephemeral disk
mounts:
  - [/dev/vdb, null]
packages:
  - openssh-clients
  - git
  - vim
  - tmux
ssh_authorized_keys:
  - "{{ cluster_deploy_ssh_public_key }}"
  - "{{ cluster_user_ssh_public_key }}"
  - "{{ cluster_ansible_ssh_public_key }}"